@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 25px;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px hsla(0, 0%, 47%, 0.8);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(243,242,235,1);
  border-radius: 10px;
}

@font-face {
  font-family: 'nino';
  src: url('./bpg_nino_mtavruli_normal.otf');
}

.formDiv1{
  font-family: 'nino';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  background-color: white;
  padding: 5px 0;
  border-radius: 25px;
  width: 80%;
}

.formDiv3{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px;
  width: 100%;
}
.formDiv3 label{
  font-family: 'nino';
  color: black;
}
.formDiv3 div {
  justify-content: center;
  align-items: start;
  width: 100%;
  margin: 3px 0;
}
.formDiv3 div label{
  color: black;
  font-size: 17px;
  width: 100%;
  font-family:'Times New Roman', Times, serif;
}
.formDiv3 input, .formDiv3 select{
  outline: none;
  padding: 2px 6px;
  border-radius: 25px;
  border: 0.1px solid black;
  color: black !important;
}

.formDiv2{
  display: flex;
  flex-direction: column;
  margin: 0 10vw;
  width: 100%;
}
.formDiv2 label{
  font-family: 'nino';
  color: black;
}
.formDiv2 div {
  justify-content: center;
  align-items: start;
  width: 100%;
  margin: 3px 0;
}
.formDiv2 div label{
  color: black;
  font-size: 17px;
  width: 100%;
  font-family:'Times New Roman', Times, serif;
}
.formDiv2 input, .formDiv2 select{
  outline: none;
  padding: 2px 6px;
  border-radius: 25px;
  border: 0.1px solid black;
  color: black !important;
}
*{
  color: black;
}
input, textarea, div{
  color: black !important;
  font-family:'Times New Roman', Times, serif;
}
.concern h2, .concern p{
  color: black;
  font-family: 'nino';
}
.concern h2{
  font-size: 20px;
}
.concern p{
  font-size: 17px;
}
.mainer{
  display: flex;
  flex-direction: row;
}
.vhDiv{
  max-height: 75vh;
}
.colBlack{
  color: black !important
}
.dakavshireba{background: rgba(1,1,1,0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  will-change: opacity;
}
.dakavshireba input{
  border: 1px solid black;
  color: black;
  border-radius: 25px;
  padding: 1px 3px;
  margin: 5px;
  width: fit-content;
  outline: none;
}

@media screen and (max-width: 950px) and (min-width: 20px){
  .formDiv1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .formDiv2{
    width: 80%;
    margin: 10px 0;
  }
  .formDiv2 label{
    width: 100%;
  }
  .mainer {
    flex-direction: column;
  }
  .vhDiv{
    max-height: 37vh;
  }
  .matched{
    height: 70vh;
  }
}

.detailedDiv p{
  font-family: 'nino';
  color: #2b4a23;
  margin-top: 10px
}
.detailedDiv span{
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

@media screen and (max-width: 400px) and (min-width: 20px){
  .formDiv1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .formDiv2{
    width: 80%;
    margin: 10px 0;
  }
  .formDiv2 label{
    width: 100%;
  }
}

.filterHeader select, .filterHeader div{
  margin: 4px 8px;
}
.filterHeader select, .filterHeader input{
  border-radius: 25px;
  padding: 1px 3px;
}

.shortInfo p {
  margin: 1px 3px;
  border-right: 1px solid black;
  padding-right: 3px;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(243,242,235,1)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dasaqmebuli p span {
  font-family: 'nino';
}
.dasaqmebuli p {
  display: flex;
  flex-direction: column;
  margin: 2px 10px;
}

/* Remove arrows in WebKit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove spinner in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}